*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.main-wrapper {
    height: 300vh;
    display: flex;
}

.navbar {
    border-right: solid 1px rgb(218, 214, 214);
    width: 15%;
    height: 100vh;
    padding: 1.2rem;
    background: white;
    position: fixed;

}

.main-area {
    background: rgb(247, 244, 244);
    width: 65%;
    height: fit-content;
}

.logo {
    width: 8rem;
    height: 2.2rem;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
}

.nav-icons {
    display: flex;
    gap: 0.8rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
}

i {
    font-size: 1.5rem;
}

.nav-icons img {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 100%;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a :hover {
    background-color: rgb(252, 249, 249);
    height: 2rem;
    border-radius: 6rem;
}

/* Stories Section */

.top-nav {
    width: 470px;
    height: 110px;
    display: flex;
    border: 1px solid rgb(218, 214, 214);
    padding: 0.8rem 0 0.8rem 0.8rem;
    /* margin: 2rem 0 2rem 9rem; */
    margin: 2rem 0 2rem 21rem;
    background: white;
    justify-content: center;
    border-radius: 5px;
}

.img-wrapper p {
    font-size: 11px;
    padding-top: 0.5rem;
}

 #display-name {
    color: black;
    font-size: 4px;
 }

.img-wrapper img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}

.img-wrapper {
    background-image: url(./images/border.png);
    background-size: cover;
    background-position: center;
    padding: 5px;
    height: 65px;
    width: 65px;
    margin: 5px;
}

/* Posts Section */

.posts {
    width: 470px;
    background: white;
    border: 1px solid rgb(218, 214, 214);
    /* justify-content: center; */
    margin: 2rem 0 2rem 21rem;
    border-radius: 5px;
    /* margin-left: 500px; */


}

.posts1 {
    display: flex;
    padding: 4px 10px;

}

.posts1a {
    display: flex;
}

.posts1 p {
    margin-top: 12px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(66, 65, 65);
}

.icon {
    margin-left: auto;
    margin-top: 12px;
}

.icon a {
    text-decoration: none;
    color: black;
}

.img-wrapper2 img {
    height: 35px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}

.img-wrapper2 {
    background-image: url(./images/border.png);
    background-size: cover;
    background-position: center;
    padding: 2.3px;
    height: 40px;
    width: 40px;
    margin: 5px;
}

.posts2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.posts3 {
    display: flex;
    padding: 0 0.8rem;
    margin: 3px;
}

.icons2 i {
    padding: 5px;

}

.posts4 {
    padding: 0 1rem 1rem 1rem;
    font-size: 14px;
}

.posts4 p {
    padding-top: 0.8rem;
}

#view {
    color: rgb(179, 173, 173);
}

#hours {
    color: rgb(179, 173, 173);
    font-size: 10px;
}

.posts4 a {
    text-decoration: none;
    color: black;
}

.posts5 {
    padding: 1rem 1rem;
    border-top: 1px solid rgb(218, 214, 214);
}

.posts5 a {
    color: black;
}
.posts5 input {
    border: none;
    width: 85%;
    height: 70%;
}

.posts5 button {
    border: none;
    background: white;
    color: blue;
}

/* Third Section  */

.stories {
    background: rgb(247, 244, 244);
    width: 40%;
    /* background-color: rebeccapurple; */
    padding: 3rem 7rem 0.5rem 2rem;
    /* margin-left: 0%; */
    height: 263.5rem;
}

.stories1 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 1rem;

}

.stories1 img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.stories-name {
    /* margin-right: 20px; */
    text-decoration: none;
    margin-top: 12px;
    margin-left: 15px;
}

.stories-name a {
    color: black;
    font-weight: 650;
}

.stories-name p {
    color: rgb(167, 162, 162);
    font-weight: 500;
}

.switch {
    margin-left: auto;
    margin-top: 12px;
    font-size: 13px;
    color: rgba(23, 101, 190, 0.945);
}

.stories2 {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.stories2 a {
    color: black;
    font-size: 12px;
}

.stories2 p {
    color: rgb(160, 155, 155);
    font-weight: 600;
    font-size: 15px;
}

/* Second Stories */

.stories3 {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.stories3 img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.stories3-name {
    /* margin-right: 20px; */
    text-decoration: none;
    margin-top: 6px;
    margin-left: 10px;
}

.stories3-name a {
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.stories3-name p {
    color: rgb(167, 162, 162);
    font-weight: 500;
    font-size: 14px;
}

.follow {
    margin-left: auto;
    margin-top: 12px;
    font-size: 12px;
    color: blue
}

/* Last stories */

.stories4 {
    margin: 2rem 0;
}

.stories4 a {
    text-decoration: none;
    color: rgb(167, 162, 162);
    margin: 5px;
    font-size: 12px;
    font-weight: 500;
    
}

.stories a:hover {
    text-decoration: underline;
}

.stories3 {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

